{
  "openapi": "3.1.0",
  "info": {
    "title": "Oviond Backend API",
    "version": "1.0.0",
    "description": "Authentication, account management, billing, and media services for Oviond.",
    "x-logo": {
      "url": "https://app.oviond.com/img/oviond-full-logo.svg",
      "altText": "Oviond"
    }
  },
  "servers": [
    {
      "url": "https://api.oviond.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "TeamMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "account_id": {
            "type": "string",
            "example": "ov:26AbCdEfGhIjKlMnOp"
          },
          "fullname": {
            "type": "string",
            "example": "Jane Smith"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "jane@example.com"
          },
          "email_verified": {
            "type": "boolean",
            "example": true
          },
          "role": {
            "type": "string",
            "example": "admin"
          },
          "avatar_url": {
            "type": [
              "string",
              "null"
            ],
            "example": "/img/profilePicture.jpg"
          },
          "allowed_projects": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "example": []
          },
          "language": {
            "type": [
              "string",
              "null"
            ],
            "example": "en"
          },
          "theme": {
            "type": [
              "string",
              "null"
            ],
            "example": "dark"
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "example": "2024-01-01T00:00:00.000Z"
          }
        },
        "required": [
          "id",
          "account_id",
          "fullname",
          "email",
          "email_verified",
          "role"
        ]
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/TeamMember"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "success"
        ]
      },
      "UpdateProfileRequest": {
        "type": "object",
        "properties": {
          "fullname": {
            "type": "string",
            "minLength": 1,
            "example": "Jane Smith"
          },
          "language": {
            "type": "string",
            "example": "en"
          },
          "theme": {
            "type": "string",
            "enum": [
              "light",
              "dark",
              "system"
            ],
            "example": "dark"
          }
        }
      },
      "UpdateAvatarRequest": {
        "type": "object",
        "properties": {
          "avatar_url": {
            "type": "string",
            "example": "https://cdn.example.com/avatar.jpg"
          }
        },
        "required": [
          "avatar_url"
        ]
      },
      "ChangeEmailRequest": {
        "type": "object",
        "properties": {
          "email_address": {
            "type": "string",
            "format": "email",
            "example": "new@example.com"
          }
        },
        "required": [
          "email_address"
        ]
      },
      "ListUsersResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamMember"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "page": {
                "type": "number"
              },
              "limit": {
                "type": "number"
              },
              "total": {
                "type": "number"
              }
            },
            "required": [
              "page",
              "limit",
              "total"
            ]
          }
        },
        "required": [
          "success",
          "data",
          "meta"
        ]
      },
      "InviteUserResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string"
              }
            },
            "required": [
              "email"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "InviteUserRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "colleague@example.com"
          },
          "fullname": {
            "type": "string",
            "minLength": 1,
            "example": "John Doe"
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "projects",
              "readonly"
            ],
            "example": "admin"
          },
          "allowed_projects": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": []
          },
          "avatar_url": {
            "type": "string",
            "description": "Optional starting avatar URL; defaults to a placeholder the user can replace."
          }
        },
        "required": [
          "email",
          "fullname",
          "role"
        ]
      },
      "EditUserRequest": {
        "type": "object",
        "properties": {
          "fullname": {
            "type": "string",
            "example": "John Doe"
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "projects",
              "readonly"
            ],
            "example": "admin"
          },
          "allowed_projects": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": []
          }
        }
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "AccountUsageResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "CURRENT_PLAN": {
                "type": "object",
                "properties": {
                  "PLAN": {
                    "type": "string"
                  },
                  "PLAN_ID": {
                    "type": "string"
                  },
                  "PRICE": {
                    "type": "number"
                  },
                  "PROJECTS": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "example": 15
                  },
                  "USERS": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "example": "UNLIMITED"
                  },
                  "WHITE_LABEL": {
                    "type": "boolean"
                  },
                  "CUSTOM_DOMAIN": {
                    "type": "boolean"
                  },
                  "PDF": {
                    "type": "boolean"
                  },
                  "AUTOMATIONS": {
                    "type": "boolean"
                  },
                  "AGENCY_TOOLS": {
                    "type": "boolean"
                  },
                  "EMAIL_SUPPORT": {
                    "type": "boolean"
                  },
                  "LIVE_SUPPORT": {
                    "type": "boolean"
                  },
                  "ACCOUNT_MANAGER": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "PROJECTS",
                  "USERS"
                ]
              },
              "USAGE": {
                "type": "object",
                "properties": {
                  "PROJECTS": {
                    "type": "number",
                    "example": 3
                  },
                  "USERS": {
                    "type": "number",
                    "example": 2
                  }
                },
                "required": [
                  "PROJECTS",
                  "USERS"
                ]
              }
            },
            "required": [
              "CURRENT_PLAN",
              "USAGE"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "DeleteAccountResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "message"
        ]
      },
      "DeleteAccountRequest": {
        "type": "object",
        "properties": {
          "password": {
            "type": "string",
            "minLength": 1,
            "example": "correct-horse-battery-staple"
          }
        },
        "required": [
          "password"
        ]
      },
      "CompanyResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "UpdateCompanyRequest": {
        "type": "object",
        "properties": {
          "company_name": {
            "type": "string",
            "example": "Acme Corp"
          },
          "timezone": {
            "type": "string",
            "example": "America/New_York"
          },
          "website": {
            "type": "string",
            "format": "uri",
            "example": "https://acme.com"
          },
          "address": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        },
        "required": [
          "company_name",
          "timezone",
          "website"
        ]
      },
      "DomainStatus": {
        "type": "string",
        "enum": [
          "pending",
          "verifying",
          "active",
          "failed"
        ]
      },
      "DnsProvider": {
        "type": [
          "string",
          "null"
        ],
        "enum": [
          "cloudflare",
          "godaddy",
          "namecheap",
          "route53",
          "google",
          "squarespace",
          "unknown"
        ]
      },
      "WhiteLabelDomain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/DomainStatus"
          },
          "provider": {
            "$ref": "#/components/schemas/DnsProvider"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "domain_records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "type",
                "name",
                "value"
              ]
            }
          },
          "vercel_verification": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "domain": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "type",
                "domain",
                "value"
              ]
            }
          },
          "dns_records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "type",
                "name",
                "value"
              ]
            }
          }
        },
        "required": [
          "id",
          "domain",
          "status"
        ]
      },
      "DomainsListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WhiteLabelDomain"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "DomainResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/WhiteLabelDomain"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "AddDomainRequest": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$"
          }
        },
        "required": [
          "domain"
        ]
      },
      "WhiteLabelSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "success"
        ]
      },
      "UpdateBrandingRequest": {
        "type": "object",
        "properties": {
          "app_title": {
            "type": "string"
          },
          "logo_url": {
            "type": "string"
          },
          "favicon_url": {
            "type": "string"
          },
          "brand_color": {
            "type": "string"
          },
          "brand_palette": {
            "type": "object",
            "additionalProperties": {}
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cliAbc123"
          },
          "account_id": {
            "type": "string",
            "example": "ov:26AbCdEfGhIjKlMnOp"
          },
          "name": {
            "type": "string",
            "example": "Acme Website"
          },
          "website": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "screenshot": {
            "type": [
              "string",
              "null"
            ]
          },
          "folders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "is_deleted": {
            "type": "boolean"
          },
          "deleted_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "account_id",
          "name"
        ]
      },
      "ListClientsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Client"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "page": {
                "type": "number"
              },
              "limit": {
                "type": "number"
              },
              "total": {
                "type": "number"
              }
            },
            "required": [
              "page",
              "limit",
              "total"
            ]
          }
        },
        "required": [
          "success",
          "data",
          "meta"
        ]
      },
      "ClientCountResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "count": {
                "type": "number"
              }
            },
            "required": [
              "count"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "BulkDeleteClientsRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "example": [
              "cliAbc123",
              "cliDef456"
            ]
          }
        },
        "required": [
          "ids"
        ]
      },
      "ClientResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Client"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateClientResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "_id": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "_id"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateClientRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "Acme Corp"
          },
          "website": {
            "type": "string",
            "example": "https://acme.com"
          },
          "currency_code": {
            "type": "string",
            "example": "USD"
          },
          "currency_symbol": {
            "type": "string",
            "example": "$"
          },
          "timezone": {
            "type": "string",
            "example": "America/New_York"
          },
          "manager": {
            "type": "string"
          },
          "domain_id": {
            "type": "string"
          },
          "theme_id": {
            "type": "string"
          },
          "folders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "name",
          "website",
          "currency_code",
          "currency_symbol",
          "timezone"
        ]
      },
      "UpdateClientRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Acme Corp Updated"
          },
          "website": {
            "type": "string"
          },
          "currency_code": {
            "type": "string"
          },
          "currency_symbol": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "manager": {
            "type": "string"
          },
          "domain_id": {
            "type": "string"
          },
          "theme_id": {
            "type": "string"
          },
          "folders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RefreshScreenshotResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "screenshot": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "screenshot"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "MoveClientToFolderRequest": {
        "type": "object",
        "properties": {
          "folders": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "folderXyz"
            ]
          }
        },
        "required": [
          "folders"
        ]
      },
      "Folder": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "folderXyz"
          },
          "folderName": {
            "type": "string",
            "example": "Top Clients"
          },
          "account_id": {
            "type": "string",
            "example": "ov:26AbCdEfGhIjKlMnOp"
          }
        },
        "required": [
          "_id",
          "folderName",
          "account_id"
        ]
      },
      "ListFoldersResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Folder"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateFolderResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            },
            "required": [
              "id"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateFolderRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "Top Clients"
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateFolderRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "VIP Clients"
          }
        },
        "required": [
          "name"
        ]
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "proj123"
          },
          "name": {
            "type": "string",
            "example": "Q1 Report"
          },
          "account_id": {
            "type": "string",
            "example": "ov:26AbCdEfGhIjKlMnOp"
          },
          "client_id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "REPORT"
          },
          "status": {
            "type": "string"
          },
          "nano_id": {
            "type": "string"
          },
          "created_at": {},
          "is_deleted": {
            "type": "boolean"
          },
          "deleted_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "account_id"
        ]
      },
      "ListProjectsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Project"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "page": {
                "type": "number"
              },
              "limit": {
                "type": "number"
              },
              "total": {
                "type": "number"
              }
            },
            "required": [
              "page",
              "limit",
              "total"
            ]
          }
        },
        "required": [
          "success",
          "data",
          "meta"
        ]
      },
      "BulkDeleteProjectsRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "example": [
              "proj123",
              "proj456"
            ]
          }
        },
        "required": [
          "ids"
        ]
      },
      "ProjectResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Project"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateProjectResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            },
            "required": [
              "id"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateProjectRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "Q1 Report"
          },
          "client_id": {
            "type": "string",
            "example": "cliAbc123"
          },
          "type": {
            "type": "string",
            "example": "REPORT"
          },
          "template": {
            "type": "string"
          },
          "template_id": {
            "type": "string",
            "description": "Clone pages and widgets from this template into the new project"
          },
          "pages": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "theme_id": {
            "type": "string"
          },
          "date_text": {
            "type": "string"
          },
          "logo_url": {
            "type": "string"
          },
          "auto_refresh_enabled": {
            "type": "boolean"
          },
          "show_cover_page": {
            "type": "boolean"
          },
          "show_cover_page_logo": {
            "type": "boolean"
          },
          "show_cover_page_name": {
            "type": "boolean"
          },
          "show_cover_page_date": {
            "type": "boolean"
          },
          "show_cover_page_bg_image": {
            "type": "boolean"
          },
          "show_header": {
            "type": "boolean"
          },
          "show_header_logo": {
            "type": "boolean"
          },
          "show_header_name": {
            "type": "boolean"
          },
          "show_header_date": {
            "type": "boolean"
          },
          "show_page_numbers": {
            "type": "boolean"
          },
          "show_table_of_contents": {
            "type": "boolean"
          },
          "show_date": {
            "type": "boolean"
          },
          "show_thank_you": {
            "type": "boolean"
          },
          "thank_you_heading": {
            "type": "string"
          },
          "thank_you_paragraph": {
            "type": "string"
          },
          "thank_you_logo_url": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "og_image_url": {
            "type": "string"
          },
          "date_compare": {
            "type": "string"
          },
          "date_include_today": {
            "type": "boolean"
          },
          "date_current_start": {
            "type": "string"
          },
          "date_current_end": {
            "type": "string"
          },
          "date_previous_start": {
            "type": "string"
          },
          "date_previous_end": {
            "type": "string"
          },
          "date_custom_days": {
            "type": "number"
          },
          "date_custom_months": {
            "type": "number"
          },
          "auto_refresh_interval": {
            "type": "string"
          },
          "password_enabled": {
            "type": "boolean"
          },
          "password": {
            "type": "string"
          },
          "pdf_enabled": {
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "type",
          "template"
        ]
      },
      "UpdateProjectRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "theme_id": {
            "type": "string"
          },
          "date_text": {
            "type": "string"
          },
          "logo_url": {
            "type": "string"
          },
          "auto_refresh_enabled": {
            "type": "boolean"
          },
          "show_cover_page": {
            "type": "boolean"
          },
          "show_cover_page_logo": {
            "type": "boolean"
          },
          "show_cover_page_name": {
            "type": "boolean"
          },
          "show_cover_page_date": {
            "type": "boolean"
          },
          "show_cover_page_bg_image": {
            "type": "boolean"
          },
          "show_header": {
            "type": "boolean"
          },
          "show_header_logo": {
            "type": "boolean"
          },
          "show_header_name": {
            "type": "boolean"
          },
          "show_header_date": {
            "type": "boolean"
          },
          "show_page_numbers": {
            "type": "boolean"
          },
          "show_table_of_contents": {
            "type": "boolean"
          },
          "show_date": {
            "type": "boolean"
          },
          "show_thank_you": {
            "type": "boolean"
          },
          "thank_you_heading": {
            "type": "string"
          },
          "thank_you_paragraph": {
            "type": "string"
          },
          "thank_you_logo_url": {
            "type": "string"
          },
          "pages": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "is_active": {
            "type": "boolean"
          },
          "editing": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "og_image_url": {
            "type": "string"
          },
          "date_compare": {
            "type": "string"
          },
          "date_include_today": {
            "type": "boolean"
          },
          "date_current_start": {
            "type": "string"
          },
          "date_current_end": {
            "type": "string"
          },
          "date_previous_start": {
            "type": "string"
          },
          "date_previous_end": {
            "type": "string"
          },
          "date_custom_days": {
            "type": "number"
          },
          "date_custom_months": {
            "type": "number"
          },
          "auto_refresh_interval": {
            "type": "string"
          },
          "password_enabled": {
            "type": "boolean"
          },
          "password": {
            "type": "string"
          },
          "pdf_enabled": {
            "type": "boolean"
          }
        }
      },
      "DuplicateProjectRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "Q1 Report (Copy)"
          }
        },
        "required": [
          "name"
        ]
      },
      "Page": {
        "type": "object",
        "properties": {
          "page_id": {
            "type": "string",
            "example": "pg_abc123"
          },
          "source_id": {
            "type": "string"
          },
          "source_type": {
            "type": "string",
            "enum": [
              "project",
              "template"
            ]
          },
          "name": {
            "type": "string",
            "example": "Overview"
          },
          "position": {
            "type": "integer"
          },
          "visible": {
            "type": "boolean"
          }
        },
        "required": [
          "page_id",
          "source_id",
          "source_type",
          "name",
          "position",
          "visible"
        ]
      },
      "ListPagesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Page"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreatePageResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "page_id": {
                "type": "string"
              }
            },
            "required": [
              "page_id"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreatePageRequest": {
        "type": "object",
        "properties": {
          "source_id": {
            "type": "string"
          },
          "source_type": {
            "type": "string",
            "enum": [
              "project",
              "template"
            ]
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "position": {
            "type": "integer"
          },
          "visible": {
            "type": "boolean"
          }
        },
        "required": [
          "source_id",
          "source_type",
          "name"
        ]
      },
      "UpdatePageRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "position": {
            "type": "integer"
          },
          "visible": {
            "type": "boolean"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "clients": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "_id",
                    "name"
                  ]
                }
              },
              "projects": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "client_id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "_id",
                    "name"
                  ]
                }
              }
            },
            "required": [
              "clients",
              "projects"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "ListWidgetIDsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "Widget": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "widget123"
          },
          "account_id": {
            "type": "string",
            "example": "ov:26AbCd"
          },
          "source_type": {
            "type": "string",
            "example": "project"
          },
          "source_id": {
            "type": "string",
            "example": "proj123"
          },
          "page_id": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "DATA",
              "TEXT",
              "TEXT_V2",
              "IMAGE",
              "HTML",
              "VIDEO",
              "EMBED",
              "TITLE",
              "BUTTON",
              "GOAL"
            ],
            "example": "DATA"
          },
          "chart": {
            "type": "string"
          },
          "chart_type": {
            "type": "string"
          },
          "chart_group": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "heading": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "align": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "link_url": {
            "type": "string"
          },
          "image_fit": {
            "type": "string"
          },
          "embed_type": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "x": {
            "type": "number"
          },
          "y": {
            "type": "number"
          },
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          },
          "is_secondary": {
            "type": "boolean"
          },
          "icon_position": {
            "type": "string"
          },
          "options_3d": {
            "type": "boolean"
          },
          "kpi": {
            "type": "boolean"
          },
          "blended": {
            "type": "boolean"
          },
          "row_limit": {
            "type": "string"
          },
          "sort_order": {
            "type": "string"
          },
          "sort_by": {
            "type": "string"
          },
          "datasource_id": {
            "type": "string"
          },
          "datasource_type": {
            "type": "string"
          },
          "data_view": {
            "type": "string"
          },
          "metrics": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "filters": {},
          "advanced": {
            "type": "object",
            "additionalProperties": {}
          },
          "show_header": {
            "type": "boolean"
          },
          "show_icon": {
            "type": "boolean"
          },
          "show_date": {
            "type": "boolean"
          },
          "show_grid_lines": {
            "type": "boolean"
          },
          "show_legends": {
            "type": "boolean"
          },
          "show_x_axis": {
            "type": "boolean"
          },
          "show_y_axis": {
            "type": "boolean"
          },
          "show_trendline": {
            "type": "boolean"
          },
          "show_totals": {
            "type": "boolean"
          },
          "show_table_filters": {
            "type": "boolean"
          },
          "show_logarithmic": {
            "type": "boolean"
          },
          "show_multiple_axes": {
            "type": "boolean"
          },
          "show_custom_date_range": {
            "type": "boolean"
          },
          "expand_rows": {
            "type": "boolean"
          },
          "date_text": {
            "type": "string"
          },
          "date_compare": {
            "type": "string"
          },
          "date_include_today": {
            "type": "boolean"
          },
          "date_current_start": {
            "type": "string"
          },
          "date_current_end": {
            "type": "string"
          },
          "date_previous_start": {
            "type": "string"
          },
          "date_previous_end": {
            "type": "string"
          },
          "date_custom_days": {
            "type": "number"
          },
          "date_custom_months": {
            "type": "number"
          },
          "created_at": {}
        },
        "required": [
          "id",
          "account_id",
          "source_type",
          "source_id",
          "type"
        ]
      },
      "ListWidgetsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Widget"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateWidgetsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "inserted_count": {
                "type": "number"
              },
              "upserted_count": {
                "type": "number"
              }
            },
            "required": [
              "inserted_count",
              "upserted_count"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateWidgetsRequest": {
        "type": "object",
        "properties": {
          "widgets": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            },
            "minItems": 1
          },
          "source_type": {
            "type": "string",
            "example": "project"
          },
          "source_id": {
            "type": "string",
            "example": "proj123"
          },
          "client_id": {
            "type": "string"
          },
          "page_id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          }
        },
        "required": [
          "widgets",
          "source_type",
          "source_id",
          "client_id",
          "page_id",
          "account_id"
        ]
      },
      "WidgetResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Widget"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "UpdateWidgetRequest": {
        "type": "object",
        "additionalProperties": {}
      },
      "BulkDeleteWidgetsRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "example": [
              "widget1",
              "widget2"
            ]
          }
        },
        "required": [
          "ids"
        ]
      },
      "DataProxyResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {}
        },
        "required": [
          "success"
        ]
      },
      "DataFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "operator": {
            "type": "string"
          },
          "value": {}
        }
      },
      "DataQueryRequest": {
        "type": "object",
        "properties": {
          "integration_id": {
            "type": "string",
            "example": "ga4"
          },
          "client_id": {
            "type": "string",
            "example": "cliAbc123"
          },
          "date_current_start": {
            "type": "string",
            "example": "2026-03-01"
          },
          "date_current_end": {
            "type": "string",
            "example": "2026-03-31"
          },
          "date_previous_start": {
            "type": "string",
            "example": "2026-02-01"
          },
          "date_previous_end": {
            "type": "string",
            "example": "2026-02-28"
          },
          "metrics": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "sessions",
              "pageviews"
            ]
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "DATE"
            ]
          },
          "data_view": {
            "type": "string",
            "example": "OVERVIEW"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataFilter"
            }
          },
          "timezone": {
            "type": "string",
            "default": "UTC"
          },
          "extra": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "integration_id",
          "client_id",
          "date_current_start",
          "date_current_end",
          "metrics",
          "dimensions",
          "data_view"
        ]
      },
      "DataTestRequest": {
        "type": "object",
        "properties": {
          "integration_id": {
            "type": "string",
            "example": "ga4"
          },
          "client_id": {
            "type": "string",
            "example": "cliAbc123"
          },
          "credentials": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "integration_id",
          "client_id"
        ]
      },
      "DataAccountsRequest": {
        "type": "object",
        "properties": {
          "integration_id": {
            "type": "string",
            "example": "ga4"
          },
          "client_id": {
            "type": "string",
            "example": "cliAbc123"
          },
          "account_name": {
            "type": "string"
          },
          "params": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "integration_id",
          "client_id"
        ]
      },
      "DataResourceRequest": {
        "type": "object",
        "properties": {
          "integration_id": {
            "type": "string",
            "example": "fb-ads"
          },
          "client_id": {
            "type": "string",
            "example": "cliAbc123"
          },
          "resource": {
            "type": "string",
            "example": "campaigns"
          },
          "params": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "integration_id",
          "client_id",
          "resource"
        ]
      },
      "CalculatedMetric": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "metric123"
          },
          "name": {
            "type": "string",
            "example": "CTR"
          },
          "formula": {
            "example": {
              "expression": "clicks / impressions * 100"
            }
          },
          "symbol": {
            "type": "string",
            "example": "%"
          },
          "accountid": {
            "type": "string"
          },
          "created_at": {},
          "updated_at": {}
        },
        "required": [
          "id",
          "name",
          "accountid"
        ]
      },
      "ListCalculatedMetricsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CalculatedMetric"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateCalculatedMetricResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            },
            "required": [
              "id"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateCalculatedMetricRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "CTR"
          },
          "formula": {
            "example": {
              "expression": "clicks / impressions * 100"
            }
          },
          "symbol": {
            "type": "string",
            "example": "%"
          }
        },
        "required": [
          "name",
          "symbol"
        ]
      },
      "UpdateCalculatedMetricRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "formula": {},
          "symbol": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "symbol"
        ]
      },
      "DuplicateCalculatedMetricRequest": {
        "type": "object",
        "properties": {
          "new_name": {
            "type": "string",
            "example": "CTR (Copy)"
          }
        },
        "required": [
          "new_name"
        ]
      },
      "SavedMetric": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "savedMetric123"
          },
          "name": {
            "type": "string",
            "example": "Weekly Sessions"
          },
          "description": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "additionalProperties": {}
          },
          "accountid": {
            "type": "string"
          },
          "created_at": {},
          "updated_at": {}
        },
        "required": [
          "id",
          "name",
          "accountid"
        ]
      },
      "ListSavedMetricsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SavedMetric"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateSavedMetricResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            },
            "required": [
              "id"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateSavedMetricRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "Weekly Sessions"
          },
          "description": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "name",
          "query"
        ]
      },
      "UpdateSavedMetricRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "additionalProperties": {}
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "query"
        ]
      },
      "DuplicateSavedMetricRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "Weekly Sessions (Copy)"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "CustomDataColumn": {
        "type": "object",
        "additionalProperties": {}
      },
      "CustomDataSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "file_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomDataColumn"
            }
          },
          "row_count": {
            "type": "number"
          },
          "file_size": {
            "type": [
              "number",
              "null"
            ]
          },
          "created_at": {},
          "updated_at": {}
        },
        "required": [
          "id",
          "name"
        ]
      },
      "ListCustomDataResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomDataSummary"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CustomData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cd123"
          },
          "name": {
            "type": "string",
            "example": "Monthly Revenue"
          },
          "file_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "accountid": {
            "type": "string"
          },
          "raw_data": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {}
            }
          },
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomDataColumn"
            }
          },
          "row_count": {
            "type": "number"
          },
          "file_size": {
            "type": [
              "number",
              "null"
            ]
          },
          "created_at": {},
          "updated_at": {}
        },
        "required": [
          "id",
          "name",
          "accountid"
        ]
      },
      "CustomDataResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/CustomData"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateCustomDataResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            },
            "required": [
              "id"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateCustomDataRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "Monthly Revenue"
          },
          "file_name": {
            "type": "string"
          },
          "raw_data": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {}
            },
            "maxItems": 10000
          },
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomDataColumn"
            }
          },
          "file_size": {
            "type": "number"
          }
        },
        "required": [
          "name",
          "file_name",
          "raw_data",
          "columns",
          "file_size"
        ]
      },
      "UpdateCustomDataRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "file_name": {
            "type": "string"
          },
          "raw_data": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {}
            },
            "maxItems": 10000
          },
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomDataColumn"
            }
          },
          "file_size": {
            "type": "number"
          }
        },
        "required": [
          "name",
          "file_name",
          "raw_data",
          "columns",
          "file_size"
        ]
      },
      "DuplicateCustomDataResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            },
            "required": [
              "id"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "DuplicateCustomDataRequest": {
        "type": "object",
        "properties": {
          "new_name": {
            "type": "string",
            "minLength": 1,
            "example": "Monthly Revenue (Copy)"
          }
        },
        "required": [
          "new_name"
        ]
      },
      "Plan": {
        "type": "object",
        "properties": {
          "price": {
            "type": "object",
            "additionalProperties": {}
          },
          "product": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "price",
          "product"
        ]
      },
      "ListPlansResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Plan"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "InvoicesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "Auth": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "integration": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "account_id",
          "integration"
        ]
      },
      "ListAuthsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Auth"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "RenameAuthRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "My Google Account"
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateClientIntegrationRequest": {
        "type": "object",
        "properties": {
          "integrations": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            },
            "example": [
              {
                "integration": "google",
                "accountId": "12345"
              }
            ]
          }
        },
        "required": [
          "integrations"
        ]
      },
      "TestAuthResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "connected": {
                "type": "boolean"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "connected"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "TestAuthRequest": {
        "type": "object",
        "properties": {
          "auth_id": {
            "type": "string",
            "minLength": 1,
            "example": "auth_abc123"
          },
          "integration": {
            "type": "string",
            "minLength": 1,
            "example": "google"
          }
        },
        "required": [
          "auth_id",
          "integration"
        ]
      },
      "EmailSetup": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "resend": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          },
          "senders": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "smtp": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          },
          "use_smtp": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "default_subject": {
            "type": [
              "string",
              "null"
            ]
          },
          "default_from": {
            "type": [
              "string",
              "null"
            ]
          },
          "default_from_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "default_message": {
            "type": [
              "string",
              "null"
            ]
          },
          "default_button_text": {
            "type": [
              "string",
              "null"
            ]
          },
          "button_top": {
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "required": [
          "account_id"
        ]
      },
      "EmailSetupResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/EmailSetup"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateSenderRequest": {
        "type": "object",
        "properties": {
          "from_name": {
            "type": "string",
            "minLength": 1,
            "example": "Acme Reports"
          },
          "email_address": {
            "type": "string",
            "format": "email",
            "example": "reports@acme.com"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        },
        "required": [
          "from_name",
          "email_address",
          "address",
          "city",
          "country"
        ]
      },
      "SmtpConfigRequest": {
        "type": "object",
        "properties": {
          "host": {
            "type": "string",
            "minLength": 1,
            "example": "smtp.example.com"
          },
          "port": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535,
            "example": 587
          },
          "username": {
            "type": "string",
            "minLength": 1,
            "example": "smtp_user"
          },
          "password": {
            "type": "string",
            "minLength": 1,
            "example": "secret"
          },
          "secure": {
            "type": "boolean"
          },
          "from_email": {
            "type": "string",
            "format": "email",
            "example": "noreply@example.com"
          },
          "from_name": {
            "type": "string",
            "example": "Acme Reports"
          }
        },
        "required": [
          "host",
          "port",
          "username",
          "password",
          "secure",
          "from_email",
          "from_name"
        ]
      },
      "TestSmtpRequest": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          }
        },
        "required": [
          "to"
        ]
      },
      "SendEmailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            },
            "required": [
              "id"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "SendEmailRequest": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "minLength": 1,
            "example": "reports@acme.com"
          },
          "to": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "example": "client@example.com"
          },
          "subject": {
            "type": "string",
            "minLength": 1,
            "example": "Your monthly report"
          },
          "html": {
            "type": "string",
            "minLength": 1,
            "example": "<p>Hello!</p>"
          }
        },
        "required": [
          "from",
          "to",
          "subject",
          "html"
        ]
      },
      "QueueEmailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "queued": {
                "type": "number",
                "example": 3
              },
              "sent": {
                "type": "number",
                "example": 0
              },
              "method": {
                "type": "string",
                "enum": [
                  "sqs",
                  "direct"
                ],
                "example": "sqs"
              }
            },
            "required": [
              "queued",
              "sent",
              "method"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "QueueEmailItem": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "format": "email",
            "example": "client@example.com"
          },
          "from": {
            "type": "string",
            "minLength": 1,
            "example": "reports@acme.com"
          },
          "subject": {
            "type": "string",
            "minLength": 1,
            "example": "Your monthly report"
          },
          "html": {
            "type": "string",
            "minLength": 1,
            "example": "<p>Hello!</p>"
          },
          "account_id": {
            "type": "string",
            "minLength": 1,
            "example": "account_123"
          }
        },
        "required": [
          "to",
          "from",
          "subject",
          "html",
          "account_id"
        ]
      },
      "QueueEmailRequest": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueueEmailItem"
            },
            "minItems": 1,
            "example": []
          }
        },
        "required": [
          "emails"
        ]
      },
      "MediaItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "mime_type": {
            "type": "string"
          },
          "size": {
            "type": "number"
          },
          "is_deleted": {
            "type": "boolean"
          },
          "deleted_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {}
        },
        "required": [
          "id",
          "account_id"
        ]
      },
      "ListMediaResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MediaItem"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "page": {
                "type": "number"
              },
              "limit": {
                "type": "number"
              },
              "total": {
                "type": "number"
              }
            },
            "required": [
              "page",
              "limit",
              "total"
            ]
          }
        },
        "required": [
          "success",
          "data",
          "meta"
        ]
      },
      "GroupMediaRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "example": [
              "media1",
              "media2"
            ]
          },
          "folder_id": {
            "type": "string",
            "example": "folderAbc"
          }
        },
        "required": [
          "ids",
          "folder_id"
        ]
      },
      "UpdateMediaRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "updated-logo.png"
          }
        },
        "required": [
          "name"
        ]
      },
      "MediaFolder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_at": {}
        },
        "required": [
          "id",
          "account_id",
          "name"
        ]
      },
      "ListMediaFoldersResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MediaFolder"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateMediaFolderResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            },
            "required": [
              "id"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateMediaFolderRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "Client Logos"
          }
        },
        "required": [
          "name"
        ]
      },
      "RenameMediaFolderRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "Brand Assets"
          }
        },
        "required": [
          "name"
        ]
      },
      "AssetTagsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "Asset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "datasources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ranking": {
            "type": [
              "number",
              "null"
            ]
          },
          "created_at": {}
        },
        "required": [
          "id",
          "account_id",
          "name"
        ]
      },
      "ListAssetsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "page": {
                "type": "number"
              },
              "limit": {
                "type": "number"
              },
              "total": {
                "type": "number"
              }
            },
            "required": [
              "page",
              "limit",
              "total"
            ]
          }
        },
        "required": [
          "success",
          "data",
          "meta"
        ]
      },
      "CreateAssetResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            },
            "required": [
              "id"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateAssetRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "GA4 Traffic Widget"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "chart"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "datasources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "name",
          "type"
        ]
      },
      "DuplicateAssetResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            },
            "required": [
              "id"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "DuplicateAssetRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "GA4 Traffic Widget (copy)"
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "name"
        ]
      },
      "ListAssetWidgetsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Widget"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "GetAssetResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Asset"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "UpdateAssetRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "datasources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ranking": {
            "type": "number"
          }
        }
      },
      "GeneratePdfResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "job_id": {
                "type": "string",
                "example": "pdf_job_abc123"
              },
              "message": {
                "type": "string",
                "example": "PDF generation queued"
              }
            },
            "required": [
              "job_id",
              "message"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "GeneratePdfRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string",
            "minLength": 1,
            "example": "proj_abc123"
          },
          "client_id": {
            "type": "string",
            "minLength": 1,
            "example": "client_xyz"
          },
          "format": {
            "type": "string",
            "enum": [
              "A4",
              "Letter"
            ],
            "example": "A4"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "portrait",
              "landscape"
            ],
            "example": "portrait"
          }
        },
        "required": [
          "project_id",
          "client_id",
          "format",
          "orientation"
        ]
      },
      "PdfStatusResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "job_id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "processing",
                  "complete",
                  "failed"
                ]
              },
              "url": {
                "type": "string",
                "example": "https://s3.amazonaws.com/bucket/pdf/report.pdf"
              },
              "error": {
                "type": "string"
              }
            },
            "required": [
              "job_id",
              "status"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "ranking": {
            "type": "number"
          },
          "datasources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "thumbnail": {
            "type": "string"
          },
          "date_text": {
            "type": "string"
          },
          "date_compare": {
            "type": "string"
          },
          "date_include_today": {
            "type": "boolean"
          },
          "date_current_start": {
            "type": "string"
          },
          "date_current_end": {
            "type": "string"
          },
          "date_previous_start": {
            "type": "string"
          },
          "date_previous_end": {
            "type": "string"
          },
          "date_custom_days": {
            "type": "number"
          },
          "date_custom_months": {
            "type": "number"
          },
          "created_at": {}
        },
        "required": [
          "id",
          "account_id",
          "name"
        ]
      },
      "ListTemplatesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "page": {
                "type": "number"
              },
              "limit": {
                "type": "number"
              },
              "total": {
                "type": "number"
              }
            },
            "required": [
              "page",
              "limit",
              "total"
            ]
          }
        },
        "required": [
          "success",
          "data",
          "meta"
        ]
      },
      "TemplateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Template"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateTemplateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            },
            "required": [
              "id"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateTemplateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "Monthly SEO Report"
          },
          "project_id": {
            "type": "string",
            "description": "Copy pages/widgets from this project"
          },
          "type": {
            "type": "string",
            "description": "Defaults to the source project's type when omitted"
          },
          "description": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string"
          },
          "ranking": {
            "type": "number"
          }
        },
        "required": [
          "name",
          "project_id"
        ]
      },
      "UpdateTemplateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "ranking": {
            "type": "number"
          }
        }
      },
      "Theme": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "primary_color": {
            "type": "string"
          },
          "chart_1": {
            "type": "string"
          },
          "chart_2": {
            "type": "string"
          },
          "chart_3": {
            "type": "string"
          },
          "chart_4": {
            "type": "string"
          },
          "chart_5": {
            "type": "string"
          },
          "chart_6": {
            "type": "string"
          },
          "chart_7": {
            "type": "string"
          },
          "chart_8": {
            "type": "string"
          },
          "chart_9": {
            "type": "string"
          },
          "chart_10": {
            "type": "string"
          },
          "font": {
            "type": "string"
          },
          "radius": {
            "type": "string"
          },
          "shadow": {
            "type": "string"
          },
          "created_at": {}
        },
        "required": [
          "id",
          "account_id",
          "name"
        ]
      },
      "ListThemesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Theme"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "ThemeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Theme"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateThemeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            },
            "required": [
              "id"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreateThemeRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "Dark Corporate"
          },
          "primary_color": {
            "type": "string"
          },
          "chart_1": {
            "type": "string"
          },
          "chart_2": {
            "type": "string"
          },
          "chart_3": {
            "type": "string"
          },
          "chart_4": {
            "type": "string"
          },
          "chart_5": {
            "type": "string"
          },
          "chart_6": {
            "type": "string"
          },
          "chart_7": {
            "type": "string"
          },
          "chart_8": {
            "type": "string"
          },
          "chart_9": {
            "type": "string"
          },
          "chart_10": {
            "type": "string"
          },
          "font": {
            "type": "string"
          },
          "radius": {
            "type": "string"
          },
          "shadow": {
            "type": "string",
            "enum": [
              "none",
              "sm",
              "md",
              "lg"
            ]
          }
        },
        "required": [
          "name",
          "primary_color"
        ]
      },
      "UpdateThemeRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "primary_color": {
            "type": "string"
          },
          "chart_1": {
            "type": "string"
          },
          "chart_2": {
            "type": "string"
          },
          "chart_3": {
            "type": "string"
          },
          "chart_4": {
            "type": "string"
          },
          "chart_5": {
            "type": "string"
          },
          "chart_6": {
            "type": "string"
          },
          "chart_7": {
            "type": "string"
          },
          "chart_8": {
            "type": "string"
          },
          "chart_9": {
            "type": "string"
          },
          "chart_10": {
            "type": "string"
          },
          "font": {
            "type": "string"
          },
          "radius": {
            "type": "string"
          },
          "shadow": {
            "type": "string",
            "enum": [
              "none",
              "sm",
              "md",
              "lg"
            ]
          }
        }
      },
      "Automation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "parent_id": {
            "type": "string"
          },
          "frequency": {
            "type": "string"
          },
          "day": {
            "type": "string"
          },
          "hours": {
            "type": "string"
          },
          "minutes": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
[...]
